---
import Console from '../components/Console.vue';
---

<head>
    <title>Ecorous/Bio</title>
</head>
<style>
    * {
        color: white;
        font-family: monospace;
    }

    body {
        background-image: url("/imgs/backgrounds/background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    h1 {
        font-size: 2em;
    }
    #console {
        background-color: black;
        font-size: large;
    }
    .console > * {
        background-color: black;
        font-size: 1em; 
    }
    .console {
    }
</style>
<style is:global>
    .visually-hidden {
        display: none;
    }
    
</style>
<body>
    
    <h1>Test</h1>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js" type="text/javascript"></script>
	<script is:inline src="/load_console.js"></script>
    <div id="description" style="font-family: monospace; font-size: 1.45em;">
        <p>
            You have found my site! I am Ecorous/Ember/Exo. I code, I do weird developer things, and I don't really
            sleep.
        </p>
        <p>
            You can find my GitHub profile <a style="text-decoration: underline;" href="https://github.com/ExoPlant"
                target="_blank" rel="noopener noreferrer">here</a>.
            I'm Genderfluid, and Pansexual.
            I have a disclaimer here:
            <details>
                <summary><strong>Disclaimer (click)</strong></summary>
                <p>
                    With everything I say, I generally do not mean any harm by what I say.
                    <br />
                    If I do happen to come across rude to you, I sincerely apologise. <br />
                    If I do get into an argument with you, it is generally best to leave it until I am in the right frame of
                    mind. <br /> If you do not, then I may end up saying some thing that does come across as rude to you and
                    it may come across as rude to even me later, and then I will regret likely will have not meant it.
                </p>
            </details>
    
            <details>
                <summary><strong>Links (click)</strong></summary>
                 <a href="https://discord.gg/m4244VbvHA" target="_blank" rel="noopener noreferrer">CobWeb Discord (SpiderHeck Modding group, run by me and my fellow CobWeb members)</a>
                 <br />
                 <a href="https://en.pronouns.page/@Exo" target="_blank" rel="noopener noreferrer">Pronouns.Page</a>
            </details>
        </p>
    </div> 
    <Console />
</body>