---
import Console from '../components/Console.vue';
import MainHeader from '../components/MainHeader.vue';
---

<html lang="en">


<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Ecorous/Home</title>
</head>

<body>
	<style>
		body {
			background-image: url(/imgs/backgrounds/background.jpg);
			/*background-color: red*/
			background-clip: padding-box;
		}

		* {
			color: white;
			font-family: monospace;
		}

		.console>* {
			background-color: black;
			font-size: 1em;
		}

		.console {
			padding-bottom: 7.57vh;
			position:sticky
		}
	</style>
	<style is:global>
		.visually-hidden {
			display: none;
		}
	</style>
	<!-- Code for console. Loads itself everywhere where Console.vue is imported. Only likes being here in this file for some reason -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js" type="text/javascript"></script>
	<script is:inline src="/load_console.js"></script>
	<!-- End of console code -->


	<MainHeader />
	<div id="description" style="font-family: monospace; text-align: center; font-size: 1.45em;">
		<p>
			You have found my site! I am Ecorous/Ember/Exo. I code, I do weird developer things, and I don't really
			sleep.
		</p>
		<p>
			You can find my GitHub profile <a style="text-decoration: underline;" href="https://github.com/ExoPlant"
				target="_blank" rel="noopener noreferrer">here</a>, and my full bio <a
				style="text-decoration: underline;" href="/bio" target="_blank" rel="noopener noreferrer">here</a>.
		</p>
	</div>

	<!--<img src="/imgs/backgrounds/background.jpg" alt="Astro" />-->
	<Console />
</body>

</html>