---
import Console from '../components/Console.vue';
---

<html lang="en">


<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Astro</title>
</head>

<body>
	<style>
		body {
			background-image: url(/imgs/backgrounds/background.jpg);
			/*background-color: red*/
			background-clip: padding-box;
		}

		* {
			color: white;
		}
	</style>
	<style is:global>
		.visually-hidden {
			display: none;
		}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js" type="text/javascript"></script>
	<script>
		jQuery(function ($) {
			$("div.console").terminal(
				{
					hello: function (what) {
						this.echo("Hello, " + what + ". Welcome to this terminal.");
					},
					help: function () {
						this.echo("Available commands: hello, help, clear, exit");
					},
					exit: function () {
						this.echo("Bye!");
						$("div.console").remove();
					},
					clear: function () {
						this.clear();
					},
					page: function (subcommand) {
						if (subcommand == "reload" || subcommand == "refresh") {
							this.echo("Reloading page...");
							window.location.reload();
						} else if (subcommand == "back" || subcommand == "<-") {
							this.echo("Going back...");
							window.history.back();
						} else if (subcommand == "forward" || subcommand == "->") {
							this.echo("Going forward...");
							window.history.forward();
						} else if (subcommand == "list") {
							this.echo("Available page subcommands:  \n reload, aliases: refresh \n back aliases: <- \n forward aliases: ->");
						} else {
							this.echo("Unknown subcommand: " + subcommand);
						}
					}
				},
				{
					greetings: "My First Web Terminal",
				}
			);
		});
	</script>
	<h1>Astro</h1>
	<!--<img src="/imgs/backgrounds/background.jpg" alt="Astro" />-->
	<Console />
</body>

</html>